
body
{
    margin: 0;
    padding: 0;
    background: url(Abstract-Background-63.jpg);
    background-size: cover;
    font-family: sans-serif;
}

/*header*/
header
{
    background:#3e5d75;
    width:100%;
    height: 150px;
}
header .header-brand{
    font-family:  sans-serif;
    font-size: 24px;
    color: wheat;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;

}
header nav ul 
{
    display: block;
    margin: 0 auto;


}
header nav li
{
   
    display: inline-block;  
    list-style-type: none;
    margin: 0;
    padding: 0 12px;
    overflow: hidden;
    background-color: #3e5d75;

}
a
{
    display:block;
    padding:8px;
    
    
}
header nav li a
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: wheat;
    font-weight: bold;
    display: block;
    text-align: center;
    width:60px;
    padding: 14px 16px;
    text-decoration: #aa66aa;
}
header nav li a:hover
{
    background:#370a4496;
    color: #ffffff;

}

.active
{
    background-color: rgb(66, 109, 230);
}
.title
{
    text-align: center;
    padding: 50px 0 20px;
}
.title h1
{
    margin : 0;
    padding: 0;
    color: #3e5d75;
    text-transform: uppercase;
    font-size:35px;
}
.container
{
    width:50%;
    height:400px;
    background: #370a4496;
    margin:0 auto;
    border: 2px solid #ffffff69;
    box-shadow: 0 15px 40px rgba(0, 2, 0, .8);
}

.container .left
{
    float: left;
    width: 50%;
    height: 400px;
    background:url(Andela.jpg);
    background-size:cover;
    box-sizing: border-box;
}
.container .right
{
    float: right;
    width: 50%;
    height: 400px;
    box-sizing: border-box;

}
.formBox
{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height:800px;
    background: #ffffff69;
}
.formBox p
{
    margin: 0;
    padding: 0;
    font-weight:bold;
    color: #aa66aa ;
}
.formBox input
{
    margin-bottom: 30px;
    width: 100%;

}
.formBox input [type="text"],
.formBox input [type="password"]
{
    border: none;
    border-bottom: 2px solid #aa66aa;
    height: 50px;
    outline: none;
}
.formBox input[type="text"]:focus,
.formBox input[type="password"]:focus
{
    border-bottom: 2px solid #262626; 
}
.formBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: #ffffff;
    background: #262626;
    cursor: pointer;
}
.formBox input[type="submit"]:hover
{
    background: #aa66aa;
}
.formBox a
{
    color: #222222;
    font-size: 13px;
    font-weight: bold;
}
.formBox button
{
    padding: 0;
    background:blueviolet;
    height:40px;
    color:#ffffff;
    cursor: pointer;
    width: 100%;
    font-size: 13px;
}
.formBox button:hover{
    background: #aa66aa;
}
.sidebar
{
   width: 250px;
   height: 500px;
   background-color: #223750;
   float: left; 

}
.content
{
    width: auto;
    height:500px;
    background-color: whitesmoke;
    padding: 12px;
}